<div>
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Mantenimientos del administrador</h2>
    </div>
  </header>
  <section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
      <div class="row bg-white has-shadow text-center">
        <span class="display-4">En esta area se encuentran los mantenimientos administrativos</span>
      </div>
    </div>
  </section>
  <section class="dashboard-header">
    <div class="container-fluid">
      <div class="row">
        <div class="statistics col-lg-3 col-12 ">
          <div  class="statistic d-flex align-items-center bg-white has-shadow cursor-pointer">
            
            <div class="icon bg-red"><i class="fa fa-building-o"></i></div>
            <div class="text"><strong>1</strong><br><small><router-link to="/barberias">Barberías</router-link></small></div>
          </div>
          <!--<div class="statistic d-flex align-items-center bg-white has-shadow cursor-pointer">
            <div class="icon bg-green"><i class="fa fa-university"></i></div>
            <div class="text"><strong>2</strong><br><small><router-link to="/instituciones">Instituciones</router-link></small></div>
          </div>
          <div class="statistic d-flex align-items-center bg-white has-shadow cursor-pointer">
            <div class="icon bg-orange"><i class="fa fa-id-card-o"></i></div>
            <div class="text"><strong>3</strong><br><small><router-link to="/tipoIdentificaciones">Tipo Identificaciones</router-link></small></div>
          </div>-->
        </div>

        <!--<div class="col-lg-6 col-12 text-center d-flex align-items-center bg-white has-shadow cursor-pointer">
          <router-link class="display-2" to="/posicionesTrabajo">Posiciones de trabajo</router-link>
        </div>-->

        <!--<div class="col-lg-3 col-12">
          <div class="statistic d-flex align-items-center bg-white has-shadow cursor-pointer">
            <div class="icon bg-green"><i class="fa fa-industry"></i></div>
            <div class="text"><strong>5</strong><br><small><router-link to="/departamentos">Departamentos</router-link></small></div>
          </div>
          <div class="statistic d-flex align-items-center bg-white has-shadow cursor-pointer">
            <div class="icon bg-orange"><i class="fa fa-bolt"></i></div>
            <div class="text"><strong>6</strong><br><small><router-link to="/competencias">Competencias</router-link></small></div>
          </div>
        </div>-->
      </div>
    </div>
  </section>

</div>
