<b-row class="p-4">
  <b-col cols="12">
    <div class="card">
      <div class="card-close">
        <div class="dropdown">
          <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow">
            <a href="#" class="dropdown-item remove">
              <i class="fa fa-times"></i>Close</a>
            <a href="#" class="dropdown-item edit">
              <i class="fa fa-gear"></i>Edit</a>
          </div>
        </div>
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Instituciones</h3>
      </div>
      <div class="card-body">

        <form>
          <div class="form-group">
            <label class="form-control-label">Nombre </label>
            <input v-model="model.name" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-control-label">Descripcion </label>
            <input v-model="model.description" type="text" class="form-control">
          </div>
          <div class="form-group">
            <b-button @click="saveData" variant="primary"> Guardar </b-button>
          </div>
        </form>
        <hr>
        <br>
        <h3 class="h4">Listado</h3>
        
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(institucion,index) in instituciones">
                <th scope="row">{{index + 1 }}</th>
                <td>{{institucion.name}}</td>
                <td>{{institucion.description}}</td>
                <td>
                  <b-btn variant="info" size="sm" @click.stop="mapData(institucion)">Editar</b-btn>
                  <b-btn variant="danger" size="sm" @click.stop="deleteData(institucion)">Borrar</b-btn>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <b-table empty-text="No hay registros" empty-filtered-text="No hay registros coincidientes" show-empty striped hover :items="getTableInformation" :fields="fields">
              <template slot="acciones" slot-scope="cell">
                <b-btn variant="info" size="sm" @click.stop="editar(cell.item,cell.index,$event.target)">Editar</b-btn>
                <b-btn variant="danger" size="sm" @click.stop="borrar(cell.item,cell.index,$event.target)">Borrar</b-btn>
              </template>
              
            </b-table> -->
        </div>
      </div>
    </div>
  </b-col>
</b-row>
